.petrol-header{
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    padding: 0;
    margin: 0;
}

.petrol-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}

.petrol-type button {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 0 ;
    width: 300px;
}

